.metadata
*.pyc
*.bak
*.bak-mo
.project
.pydevproject

# pip install #
#####################
*.egg-info/
*.egg/
*.eggs
dist
*.pypirc
build

# PyCharm #
#####################
.idea
.cache
venv

# Jupyter Notebook #
#####################
.ipynb_checkpoints

# Unittest #
#####################
.pytest_cache
htmlcov
.coverage
.unitTests-dymola.log

installed_dependencies/*
startup.mos
working_dir

*.env*
bes-rules/pc_specific_settings.json
